<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Product Search</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>

        body {
            margin-top: 10px;
            font-family: 'Segoe UI Semibold', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #ffffff;
        }

        .card-img-top {
            height: 200px;
            object-fit: cover;
            
        }

        .card{
            
            min-height: 400px;
        }
        .card-body{
            transition: all 0.5s ease;
        }
        .card-img-top:hover {
            height: 330px;
            transition: all 0.5s ease;
            filter: brightness(0.9);
            cursor: pointer;
            transform: scale(1.1);
        }
        .card-img-top:hover ~ .card-body {
            display: none;
        }
        .card-img-top:hover ~ .card-body {
            display: none;
        }

        /* .card-img-top:hover {
            z-index: 1000;
            position: absolute;
            width: 400px;
            height: 400px;
            object-fit: contain;
            transition: all 0.5s ease;
        } */
        .card-text {
            font-size: smaller;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .card-title {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            height: 2.6rem;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .filters {
            border-right: 1px solid #ddd;
            padding-right: 20px;
        }
        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0;
        }
        .search-bar {
            width: 50%;
            display: flex;
        }
        .icons {
            display: flex;
            align-items: center;
        }
        .icons img {
            margin-left: 20px;
            cursor: pointer;
        }
        .categories {
            margin: 20px 0px;
            padding: 20px 0;
            border-bottom: 1px solid #ddd;
            font-size: 14px;
        }
        .categories a {
            margin-left: 10px;
            margin-right: 25px;
            text-decoration: none;
            color: #454545;

        }
        #facetPanel {
            display: block !important;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <img src="static/images/logo.png" alt="Logo" height="30">

            <div class="search-bar">

                <form id="inputform" method="POST" style="width: 100%;">
                    <input type="text" id="sea" name="search_query" class="form-control" placeholder="Let's find the products you searched for..." style="padding:20px;padding-left: 45px;">
                </form>
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="40" viewBox="0 0 50 50" style="position: absolute;margin: 0px 10px;">
                    <path fill="gray" d="M 21 3 C 11.601563 3 4 10.601563 4 20 C 4 29.398438 11.601563 37 21 37 C 24.355469 37 27.460938 36.015625 30.09375 34.34375 L 42.375 46.625 L 46.625 42.375 L 34.5 30.28125 C 36.679688 27.421875 38 23.878906 38 20 C 38 10.601563 30.398438 3 21 3 Z M 21 7 C 28.199219 7 34 12.800781 34 20 C 34 27.199219 28.199219 33 21 33 C 13.800781 33 8 27.199219 8 20 C 8 12.800781 13.800781 7 21 7 Z"></path>
                </svg>
            </div>
            
            <div class="icons">
                <img src="static/images/right.png" alt="Profile" height="40">
            </div>
        </header>

    </div>
    <div class="container mt-5">
        <div class="row">
            <!-- Sidebar -->
            <div id="facetPanel" class="col-sm-3 col-md-3 sidebar show">
                <div id="clearFilters"></div>
                <ul class="nav nav-sidebar">
                    <div id="facetContainer">  
                        <!-- Facet groups will be appended here -->  
                    </div>  
                    
                    
                </ul>
            </div>

            <!-- Main Content -->
            <div class="col-sm-9 col-md-9">
                <form method="POST" class="form-inline mb-4">
                    <span class="mr-2">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.5 16C13.9142 16 14.25 16.3358 14.25 16.75C14.25 17.1642 13.9142 17.5 13.5 17.5H10.5C10.0858 17.5 9.75 17.1642 9.75 16.75C9.75 16.3358 10.0858 16 10.5 16H13.5ZM16.5 11C16.9142 11 17.25 11.3358 17.25 11.75C17.25 12.1642 16.9142 12.5 16.5 12.5H7.5C7.08579 12.5 6.75 12.1642 6.75 11.75C6.75 11.3358 7.08579 11 7.5 11H16.5ZM19.5 6C19.9142 6 20.25 6.33579 20.25 6.75C20.25 7.16421 19.9142 7.5 19.5 7.5H4.5C4.08579 7.5 3.75 7.16421 3.75 6.75C3.75 6.33579 4.08579 6 4.5 6H19.5Z" fill="#212121" />
                        </svg>
                    </span>
                    <select id="pro" name="profile" class="form-control mr-2" style="font-size: small;">
                        <option value="general">General</option>
                        <option value="freshness">Freshness</option>
                    </select>

                    <select id="srt" name="sort" class="form-control mr-2" style="font-size: small;">
                        <option value="">Best Match</option>
                        <option value="bestPrice">Price</option>
                        <option value="bestDiscountRate">Discount Rate</option>
                        <option value="rating">Rating</option>
                        <option value="totalOrderCount">Order Count</option>
                    </select>

                    <select id="res" name="results" class="form-control mr-2"  style="font-size: small;">
                        <option value=20 >20 results</option>
                        <option value=50 >50 results</option>
                        <option value=100 >100 results</option>
                    </select>                    
                </form>

                <p>Showing {{ products|length }} results for "{% if q2 != '' %}{{q2}}{% else %}{{q}}{% endif %}" <span style="font-style: italic;color: rgb(255, 113, 113);">Time elapsed: {{ (timeelapsed*1000)|round|int}} ms.</span>Total found {{ total_count }}</p>

                <div class="row">
                    {% for product in products %}
                        <div class="col-md-3">
                            <div class="card mb-3 shadow-sm" style="overflow: hidden; border-radius: 12px;">
                                <img src="{{ product.imageUrl }}" class="card-img-top">
                                <div class="card-body">
                                    <span class="card-text text-muted" style="font-size: 12px;">Score:{{ product['@search.score']|round(3) }}</span>
                                    <h6 class="card-title mt-2" title="{{ product.description }}">{{ product.name }}</h6>
                                    
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="badge bg-warning text-dark">⭐ {{ product.rating }} / 5</span>
                                        <span class="text-muted small">{{ product.totalReviewCount }} reviews</span>
                                    </div>
                                    <p class="small text-muted mt-1">Orders: {{ product.totalOrderCount }}</p>
                                    
                                    <div class="price-section mt-2 p-2 bg-light rounded d-flex {{ 'justify-content-between' if product.bestDiscountRate > 0 else 'justify-content-center' }} align-items-center">
                                        <strong style="font-size: 1.2em; color: black;">${{ product.bestPrice }}</strong>
                                        {% if product.bestDiscountRate > 0 %}
                                            <span class="badge bg-success ml-2">-{{ product.bestDiscountRate }}% OFF</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- debug the json data                 -->
                <!-- <div class="container mt-5">
                    <h3>Debug: Products Data</h3>
                    <pre style="background-color: #f8f9fa; padding: 15px; border-radius: 5px; overflow-x: auto;">
                        {{ products|tojson(indent=2) }}
                    </pre>
                </div> -->
                
            </div>
        </div>
    </div>
</br></br>
<script>
    console.log("Products variable:", {{ products|tojson }});
    console.log("result:", {{ facets|tojson }});
</script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {  
            // Parse URL to get filter selections  
            const urlParams = new URLSearchParams(window.location.search);  
            const filterParam = urlParams.get('f') || '';
            window.selectedFilters = {};

            if (filterParam) {
                filterParam.split(',').forEach(filter => {
                    const [category, values] = filter.split(':');
                    window.selectedFilters[category] = values.replace(/%20/g, ' ').split('|');
                });
            }

            // Set initial checkbox states based on URL parameters
            Object.keys(window.selectedFilters).forEach(category => {
                window.selectedFilters[category].forEach(value => {
                    $(`.facet-group:contains(${category}) input[type='checkbox'][value='${value}']`).prop('checked', true);
                });
            });
            // Set initial values for other filters  
            $('#pro').val(urlParams.get('p') || 'default');
            $('#srt').val(urlParams.get('s') || '');
            $('#res').val(urlParams.get('i') || 20);
            $('#sea').val(urlParams.get('q') || '');
            

            $('#pro, #srt, #res').on('change', function() {
                makesearch();
             });
        });   


    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    
        <script>  
            const facetData = {{ facets|tojson }};  
              
            console.log("result:", facetData);  
      
            function createGroupedFacetList(data) {  
                const facetContainer = document.getElementById('facetContainer');  
      
                Object.keys(data).forEach(category => {  
                    const categoryDiv = document.createElement('div');  
                    categoryDiv.className = 'facet-group';  
      
                    if (category === 'brandName') {  
                        categoryName = 'Brand';
                    } else if (category === 'mainCategoryName') {
                        categoryName = 'Category';  
                    } else if (category === 'colorName') {  
                        categoryName = 'Color';  
                    } else if (category === 'rating') {
                        categoryName = 'Rating';
                    }
                    

                    const categoryHeading = document.createElement('h3');  
                    categoryHeading.textContent = categoryName;  
                    categoryDiv.appendChild(categoryHeading);  
      
                    const categoryList = document.createElement('ul');  
                    categoryList.className = 'searchResults__facetControl-list list-group';  
      
                    data[category].forEach(item => {  
                        const li = document.createElement('li');  
                        li.className = 'searchResults__facetControl list-group-item';  
      
                        const divWrapper = document.createElement('div');  
                        divWrapper.className = 'searchResults__facetControl-checkbox-wrapper checkbox';  
      
                        const label = document.createElement('label');  
                        label.className = 'checkboxLabel';  
      
                        const input = document.createElement('input');  
                        input.type = 'checkbox';  
                        input.className = 'searchResults__facetControl-checkbox';  


                        input.value = item.value;



      
                        // Add event listener to trigger filter update  
                        input.addEventListener('change', handleFilterChange);  

                        
                        const textNode = document.createTextNode(` ${item.value} (${item.count})`);  
      
                        label.appendChild(input);  
                        label.appendChild(textNode);  
                        divWrapper.appendChild(label);  
                        li.appendChild(divWrapper);  
                        categoryList.appendChild(li);  
                    });  
      
                    categoryDiv.appendChild(categoryList);  
                    facetContainer.appendChild(categoryDiv);  
                });  
            }  
      
 
            let selectedFilters = {};
            let debounceTimer;

            function handleFilterChange(event) {  
                const checkbox = event.target;
                const category = checkbox.closest('.facet-group').querySelector('h3').textContent;
                const value = checkbox.value;

                if (!window.selectedFilters[category]) {
                    window.selectedFilters[category] = [];
                }

                if (checkbox.checked) {
                    if (!window.selectedFilters[category].includes(value)) {
                        window.selectedFilters[category].push(value);
                    }
                } else {
                    window.selectedFilters[category] = window.selectedFilters[category].filter(v => v !== value);
                    if (window.selectedFilters[category].length === 0) {
                        delete window.selectedFilters[category];
                    }
                }

                clearTimeout(window.filterTimeout);
                window.filterTimeout = setTimeout(() => {
                    makesearch();
                }, 1000); // 1 second debounce
            }
            function makesearch() {  
                var pro = $('#pro').val();  
                var res = $('#res').val() || 20;  
                var sea = $('#sea').val() || '';
                var srt = $('#srt').val(); 
                

                let filterString = Object.keys(window.selectedFilters)
                    .map(category => `${category}:${window.selectedFilters[category].join('|')}`)
                    .join(','); 

                window.location.href = '/?p=' + pro + '&q=' + sea + '&i=' + res + '&s=' + srt + '&f=' + encodeURIComponent(filterString);  
            } 
            
            // Add event listeners for filter checkboxes  
            document.querySelectorAll('.searchResults__facetControl-checkbox').forEach(checkbox => {  
                checkbox.addEventListener('change', handleFilterChange);  
            });  
            
            createGroupedFacetList(facetData);  
        </script>  
</body>

</html>